automations/n8n/resummo-payment-webhook.json
{
  "name": "Resummo — Payment Webhook (CulqiLink)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resummo-payment",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook CulqiLink",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "resummo-payment"
    },
    {
      "parameters": {
        "jsCode": "// Parse y validar payload de CulqiLink webhook v6\n// FIX: Culqi envía body.data como JSON-encoded string, no como objeto\n// Estructura real: { object: 'event', type: 'order.creation.succeeded', data: '{...JSON string...}' }\nconst body = $json.body || $json;\n\n// 1. Parsear body.data — Culqi lo envía como JSON-encoded string\nlet orderObj = {};\nif (body.data) {\n  try {\n    orderObj = typeof body.data === 'string' ? JSON.parse(body.data) : body.data;\n  } catch(e) {\n    orderObj = {};\n  }\n}\n\n// Paquetes por description (titulo del CulqiLink) — resuelve precios repetidos\nconst PACKAGES = {\n  'resummo select':       { slug: 'select',       name: 'Resummo SELECT',       notionPage: '2ee28574-650f-80c4-bdc2-f043e19f4f0b', anki: false },\n  'resummo basicas':      { slug: 'basicas',      name: 'Resummo BASICAS',      notionPage: '2ee28574-650f-80c4-bdc2-f043e19f4f0b', anki: false },\n  'resummo core':         { slug: 'core',         name: 'Resummo CORE',         notionPage: '2ee28574-650f-80c4-bdc2-f043e19f4f0b', anki: false },\n  'resummo core clinicas':{ slug: 'core-clinicas', name: 'Resummo CORE Clinicas',notionPage: '2ee28574-650f-80c4-bdc2-f043e19f4f0b', anki: false },\n  'resummo core basicas': { slug: 'core-basicas', name: 'Resummo CORE Basicas', notionPage: '2ee28574-650f-80c4-bdc2-f043e19f4f0b', anki: false },\n  'resummo essalud/enam': { slug: 'essalud-enam', name: 'Resummo ESSALUD/ENAM', notionPage: '2f428574-650f-80d3-aafc-cb5374c44e14', anki: false },\n  'resummo all access':   { slug: 'all-access',   name: 'Resummo ALL ACCESS',   notionPage: '2ed28574-650f-804e-85ce-ee3fc1bf4631', anki: true },\n  'resummo anki':         { slug: 'anki',         name: 'Resummo ANKI',         notionPage: '31e28574-650f-8058-b3f3-e6140913476e', anki: true },\n  'resummo encaps':       { slug: 'encaps',       name: 'Resummo ENCAPS',       notionPage: '31e28574-650f-8058-b3f3-e6140913476e', anki: true }\n};\n\n// Fallback por monto (solo para precios unicos)\nconst PACKAGES_BY_AMOUNT = {\n  2900:  'resummo select',\n  13900: 'resummo essalud/enam',\n  15900: 'resummo all access'\n};\n\nconst DRIVE_LINK = 'https://drive.google.com/drive/folders/1l2NYW_6ICSK1DWwlB3hT7WGW3YAc_J9T';\n\n// 2. amount: Culqi orders lo envian como string \"7900\" → convertir a int\nconst amountRaw = parseInt(orderObj.amount || body.amount || '0', 10);\n\n// 3. email: buscar en client_details (Culqi orders), luego fallbacks\nconst email = orderObj.client_details?.email\n  || orderObj.email\n  || body.email\n  || orderObj.metadata?.email\n  || body.metadata?.email\n  || '';\n\n// 4. nombre del cliente\nconst clientDetails = orderObj.client_details || {};\nconst customerName = clientDetails.first_name\n  ? (clientDetails.first_name + ' ' + (clientDetails.last_name || '')).trim()\n  : (orderObj.customer_name || body.metadata?.customer_name || email);\n\n// 5. orderId: usar ORDER id (ord_live_...) no EVENT id (evt_live_...)\nconst orderId = orderObj.id || orderObj.order_id || body.order_id || 'unknown_' + Date.now();\n\nconst status = orderObj.state || orderObj.status || body.type || 'unknown';\nconst currency = orderObj.currency_code || body.currency_code || 'PEN';\nconst description = (orderObj.description || body.description || '').toLowerCase().trim();\nconst rawPayload = JSON.stringify(body, null, 2);\n\n// Detectar paquete: primero por description, fallback por monto\nlet pkg = PACKAGES[description];\nif (!pkg && PACKAGES_BY_AMOUNT[amountRaw]) {\n  pkg = PACKAGES[PACKAGES_BY_AMOUNT[amountRaw]];\n}\nif (!pkg) {\n  pkg = { slug: 'desconocido', name: 'Desconocido (desc: ' + description + ', monto: ' + amountRaw + ')', notionPage: '', anki: false };\n}\n\nconst fechaPago = $now.toFormat('yyyy-MM-dd HH:mm:ss');\n\nreturn {\n  json: {\n    email,\n    nombre: customerName,\n    paquete: pkg.name,\n    paqueteSlug: pkg.slug,\n    monto: amountRaw / 100,\n    montoRaw: amountRaw,\n    orderId,\n    status,\n    currency,\n    fechaPago,\n    notionPageId: pkg.notionPage,\n    includesAnki: pkg.anki,\n    driveLink: pkg.anki ? DRIVE_LINK : '',\n    description,\n    rawPayload,\n    isValid: email !== '' && amountRaw > 0,\n    validationErrors: [\n      ...(email === '' ? ['Email vacio'] : []),\n      ...(amountRaw === 0 ? ['Monto es 0'] : []),\n      ...(pkg.slug === 'desconocido' ? ['Paquete no identificado: ' + description + ' / ' + amountRaw] : [])\n    ]\n  }\n};"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Parse y Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Es Valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1La_yPtgv8HYNlJZ1JCDfAGGOxzAwnSnUAI1ezxlQRgI",
          "mode": "list",
          "cachedResultName": "Finanzas - Resummo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1La_yPtgv8HYNlJZ1JCDfAGGOxzAwnSnUAI1ezxlQRgI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 778844821,
          "mode": "list",
          "cachedResultName": "Marzo26",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1La_yPtgv8HYNlJZ1JCDfAGGOxzAwnSnUAI1ezxlQRgI/edit#gid=778844821"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "col_8",
              "lookupValue": "={{ $json.orderId }}"
            }
          ]
        },
        "combineFilters": "AND",
        "options": {}
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Check Duplicado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [750, 300],
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "JKf7Jh92E9Sv1aD8",
          "name": "Google Sheets - Resummo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-duplicate",
              "leftValue": "={{ $json.col_8 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Ya Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, duplicate: true, orderId: $('Parse y Validar').first().json.orderId }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "Responder Duplicado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, orderId: $('Parse y Validar').first().json.orderId, message: 'Pago procesado correctamente' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Formatear mensaje de venta para Slack con link Notion accionable\nconst data = $('Parse y Validar').first().json;\n\n// URLs de Notion por paquete (para que Andre/Nair hagan click y compartan)\nconst NOTION_URLS = {\n  'select':       'https://www.notion.so/2ee28574650f80c4bdc2f043e19f4f0b',\n  'basicas':      'https://www.notion.so/2ee28574650f80c4bdc2f043e19f4f0b',\n  'core':         'https://www.notion.so/2ee28574650f80c4bdc2f043e19f4f0b',\n  'core-clinicas':'https://www.notion.so/2ee28574650f80c4bdc2f043e19f4f0b',\n  'core-basicas': 'https://www.notion.so/2ee28574650f80c4bdc2f043e19f4f0b',\n  'essalud-enam': 'https://www.notion.so/2f428574650f80d3aafccb5374c44e14',\n  'all-access':   'https://www.notion.so/2ed28574650f804e85ceee3fc1bf4631',\n  'anki':         'https://www.notion.so/31e28574650f8058b3f3e6140913476e',\n  'encaps':       'https://www.notion.so/31e28574650f8058b3f3e6140913476e'\n};\n\nconst notionUrl = NOTION_URLS[data.paqueteSlug] || '';\nconst driveLink = data.driveLink || '';\n\nconst slackMessage = {\n  text: 'Nueva venta: ' + data.paquete + ' - ' + data.email,\n  blocks: [\n    {\n      type: 'header',\n      text: {\n        type: 'plain_text',\n        text: 'Nueva Venta Resummo',\n        emoji: true\n      }\n    },\n    {\n      type: 'section',\n      fields: [\n        { type: 'mrkdwn', text: '*Paquete:*\\n' + data.paquete },\n        { type: 'mrkdwn', text: '*Monto:*\\nS/' + data.monto },\n        { type: 'mrkdwn', text: '*Cliente:*\\n' + (data.nombre || 'No proporcionado') },\n        { type: 'mrkdwn', text: '*Fecha:*\\n' + data.fechaPago }\n      ]\n    },\n    {\n      type: 'divider'\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*Email del comprador (copiar):*\\n`' + data.email + '`'\n      }\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*Paso 1:* Abrir pagina Notion del paquete:\\n<' + notionUrl + '|Abrir ' + data.paquete + ' en Notion>\\n\\n*Paso 2:* Click \"Share\" arriba a la derecha → pegar email → invitar como Guest'\n      }\n    },\n    ...(data.includesAnki ? [{\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*Paso 3 (Anki):* Compartir carpeta Drive con el mismo email:\\n<' + driveLink + '|Abrir carpeta Anki en Drive>'\n      }\n    }] : []),\n    {\n      type: 'context',\n      elements: [\n        { type: 'mrkdwn', text: 'Order: ' + data.orderId }\n      ]\n    }\n  ]\n};\n\nreturn { json: { slackMessage } };"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Preparar Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_VENTAS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackMessage) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Slack Ventas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Preparar fila para Google Sheets — SOLO campos de Sheets, sin ...data\nconst data = $('Parse y Validar').first().json;\n\n// Formatear fecha como DD/MM/YYYY\nconst parts = data.fechaPago.split(' ')[0].split('-');\nconst fechaFormateada = parts.length === 3 ? (parts[2] + '/' + parts[1] + '/' + parts[0]) : data.fechaPago;\n\nreturn {\n  json: {\n    'INGRESOS': fechaFormateada,\n    'col_3': data.nombre || data.email,\n    'col_4': data.paquete.toUpperCase(),\n    'col_5': 'CULQILINK',\n    'col_6': 'ANDRÉ',\n    'col_7': data.monto,\n    'col_8': data.orderId,\n    'col_9': data.email\n  }\n};"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Preparar Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1La_yPtgv8HYNlJZ1JCDfAGGOxzAwnSnUAI1ezxlQRgI",
          "mode": "list",
          "cachedResultName": "Finanzas - Resummo"
        },
        "sheetName": {
          "__rl": true,
          "value": 778844821,
          "mode": "list",
          "cachedResultName": "Marzo26",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1La_yPtgv8HYNlJZ1JCDfAGGOxzAwnSnUAI1ezxlQRgI/edit#gid=778844821"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Google Sheets Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1750, 500],
      "credentials": {
        "googleApi": {
          "id": "JKf7Jh92E9Sv1aD8",
          "name": "Google Sheets - Resummo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_ERRORES || $env.SLACK_WEBHOOK_VENTAS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: 'ERROR en Resummo Payment: Payload invalido recibido. Errors: ' + JSON.stringify($json.validationErrors) + '. Raw: ' + $json.rawPayload.substring(0, 500) }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Slack Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 700],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Resummo Payment Webhook v6\n\nRecibe webhooks de CulqiLink.\nSoporta order.creation.succeeded events.\n\n### FIX v6 (2026-03-27):\n- body.data es JSON string → JSON.parse(body.data)\n- amount llega como string \"7900\" → parseInt\n- email en client_details.email (no en raiz)\n- orderId usa ord_live_... no evt_live_...\n\n### Flujo:\n1. Webhook POST de CulqiLink\n2. Parse: body.data → JSON.parse → orderObj\n3. Valida payload (email + monto > 0)\n4. Check idempotencia (orderId en Sheets)\n5. Responde 200 INMEDIATAMENTE\n6. Slack #ventas + Google Sheets (paralelo)\n\n### Paquetes:\nSELECT S/29, BASICAS S/99, CORE S/99,\nESSALUD/ENAM S/139, ALL ACCESS S/159,\nANKI S/79, ENCAPS S/79\n\n### Config:\n- [x] Slack webhook OK\n- [x] Google Sheets credential OK\n- [x] Sheets tab: Marzo26 (GID 778844821)\n- [x] Test con payload real de Culqi (2026-03-27)",
        "height": 520,
        "width": 400
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Notas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-400, 100]
    }
  ],
  "connections": {
    "Webhook CulqiLink": {
      "main": [
        [{ "node": "Parse y Validar", "type": "main", "index": 0 }]
      ]
    },
    "Parse y Validar": {
      "main": [
        [{ "node": "Es Valido?", "type": "main", "index": 0 }]
      ]
    },
    "Es Valido?": {
      "main": [
        [
          { "node": "Check Duplicado", "type": "main", "index": 0 }
        ],
        [
          { "node": "Slack Error", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Duplicado": {
      "main": [
        [{ "node": "Ya Existe?", "type": "main", "index": 0 }]
      ]
    },
    "Ya Existe?": {
      "main": [
        [
          { "node": "Responder Duplicado", "type": "main", "index": 0 }
        ],
        [
          { "node": "Responder OK", "type": "main", "index": 0 }
        ]
      ]
    },
    "Responder OK": {
      "main": [
        [
          { "node": "Preparar Slack", "type": "main", "index": 0 },
          { "node": "Preparar Sheets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Preparar Slack": {
      "main": [
        [{ "node": "Slack Ventas", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Sheets": {
      "main": [
        [{ "node": "Google Sheets Append", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 60,
    "timezone": "America/Lima",
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
